* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 525;
}

html, body {
    height: 100%;
}

.navbar {
     display: flex;
     padding: 1rem;
     justify-content: right;
}

.nav-links {
    color: pink;
    text-decoration: none;
    font-size: large;
    margin-inline-end: 1rem;
    font-weight: bold;
}

.nav-links:hover {
    color: rgb(247, 106, 130)
}

.main {
    justify-content: center;
    margin-inline: 15%;
    padding-top: 5rem;
}

.contact {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 2px solid white;
    background-color: white;
}

.contact-links {
    color: pink;
    text-decoration: none;
    margin-inline-end: 2rem;
    font-weight: bold;
}

.contact-links:hover {
    color:rgb(247, 106, 130);
}

.about {
    display: flex;
    gap: 1rem;
}

.about p span {
    display: inline-block;
    margin-block: 0.5rem;
}

.about img {
    max-width: 425px;
    max-height: auto;
}

.featured {
    margin-top: 2rem;
    box-shadow: 0 0 8px 0 #ccc;
}

.featured a {
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.featured a:hover {
    color:rgb(247, 106, 130);
}

.project {
    height: 100%;
    max-height: 15rem;
    overflow: scroll;
}

.project img {
    width:100%;
}

.resume {
    justify-content: center;
    margin-inline: 15%;
    padding: 5rem;
}

.resume iframe {
    width: 100%;
    height: 40rem;
}

.proj-links a {
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.proj-links a:hover {
    color:rgb(247, 106, 130);
}

.proj-contents {
    display: flex;
    margin: 2rem;
    overflow-inline: auto;
}

.proj-contents ul {
    padding-left: 2rem;
}

.proj-contents img {
    height: 30rem;
    width: auto;
    padding-left: 2rem;
}

.proj-contents ifram {
    padding-left: 2rem;;
}